Brewfile.lock.json
lazy-lock.json
btop.log

.config/github-copilot
.config/nvm
.config/op

# Installed submodules
shared/.config/tmux/plugins
shared/.config/github-copilot

# ncspot cache
userstate.cbor

# private files
twinkl.*
secrets.zsh
shared/.config/gh/hosts.yml
